// Lists
ul {
    li {
        transition: all 0.3s;
    }
}

// Sidebar
#sidebar {
    transition: min-width  0.5s ease-out, max-width 0.5s ease-out;
}

#sidebar.collapsed {
    transition: min-width 0.5s ease-in, max-width 0.5s ease-in;
}

// Modal dialogs
.modal {
  opacity: 0%;
  transition: opacity 0.5s ease;

  .modal-content {
    transform: scale(0.9); /* Start slightly scaled down */
    transition: transform 0.5s ease-in;
  }
}

.modal.show {
  opacity: 100%;
  transition: opacity 0.5s ease;

  .modal-content {
    transform: scale(1); /* Scale to original size */
    transition: transform 0.5s ease-out;
  }
  pointer-events: auto; /* Allow interactions */
}

