button {
  background-color: var(--button-secondary-bgcolor);
  z-index: 1;
  border: none;
  cursor: pointer;
}

.button {
  padding: 0.75rem 1rem;

  i {
    display: inline-block;
  }

  i[class^='icon-'].selected {
    filter: grayscale(0%); // Make icons normal
  }
}

.button-sm {
  padding: 0.25rem;
}

.button:hover,
.button.selected {
  @extend %box-shadow-hover;
}

.button-small {
  padding: 0.25rem 1rem;
}

.button-mini {
  padding: 0;
}

/* Primary button */
.button-primary {
  @extend %font-weight-boldest;
  @extend %box-shadow;
}

.buttons {
  display: flex;

  .button {
    border-radius: 0;
    width: 100%;
  }
}

.button-large {
  padding: 0 2rem;
}
