button {
  background-color: var(--button-secondary-bgcolor);
  z-index: 1;
}

button {
  padding: 0.75rem 1rem;
  border: none;
  // border-radius: var(--border-radius);
  cursor: pointer;

  i {
    width: 1rem; // Center the icon
    display: inline-block;
  }
}

button:hover,
button.selected {
  @extend %box-shadow-hover;
  //color: var(--button-primary-color);
  //background-color: var(--light-color);

  // @extend %box-shadow;
}

.button-small {
  padding: 0.25rem 1rem;
}

.button-mini {
  padding: 0;
}

/* Primary button */
.button-primary {
  @extend %font-weight-boldest;
  @extend %box-shadow;

  //color: var(--button-primary-color);
  //background-color: var(--button-primary-bgcolor);
}

.button-primary:hover {
  //color: var(--button-primary-color);
  //background-color: var(--light-color);
}

.buttons {
  display: flex;

  .button {
    border-radius: 0;
    width: 100%;
  }
}

.button-large {
  padding: 0 2rem;
}

