#chat-form {
  flex: 0 0 60px; /* fixed height */
  display: flex;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #ccc;

  .textarea {
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
  }

  .buttons {
    display: flex;
    position: relative;
    height: 100%;
    .button {
      border-radius: 3px;
      background: transparent;
    }
  }

  textarea {
    padding: 0.5rem;
    resize: none;
    border: 0px;
  }

  textarea:focus {
    border: 1px $primary-color;
  }

  .icon-send {
    font-size: 18px;
  }
}

#message-input {
  width: 100%;
  padding: 0.25rem;
}
