#chat-form {
  flex: 0 0 60px; /* fixed height */
  display: flex;
  align-items: center;

  // NOTE: Should match #chat-header border-bottom
  border-top: 1px solid #eee;

  .textarea {
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
  }

  .buttons {
    display: flex;
    position: relative;
    height: 100%;
  }

  button {
    background-color: var(--bg-color);
  }

  textarea {
    padding: 1rem;
    resize: none;
    border: 0;
  }

  .icon-send {
    font-size: 1.2rem;
  }
}

#message-input {
  width: 100%;
  padding: 0.25rem;
}

#chat-model {
  border-top: 1px solid #eee;

  .chat-model-name {
    @extend %font-weight-bolder;
  }
}
