.chat-list-item {
  z-index: 2;

  .chat-title {
    // text-overflow: ellipsis;
    mask-image: linear-gradient(
      90deg,
      var(--white) 95%,
      transparent
    ); // Fade out title instead of ellipsis
  }

  .button {
    padding: 0.25rem 0.75rem;
  }
}

.list-item.selected {
  background: var(--white);

  @extend %box-shadow;

  z-index: 2;
}

.list-item.hover {
  @extend %box-shadow-hover;

  z-index: 3;
}
