/* Base styling for all messages */
.message {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 2px;
}

/* Styling for user messages */
.user-message {
  background-color: #E3F2FD; /* Light blue background (50) */
  color: #0D47A1; /* Dark blue text (900) */
  align-self: flex-start; /* Align to the right */
  border: 1px solid #BBDEFB; /* Light blue border (100) */
  border-radius: 2px;
}

/* Styling for system messages */
.system-message {
  background-color: #FFF3E0; /* Light orange background (50) */
  color: #BF360C; /* Dark orange text (900) */
  margin-left: 1rem;
  box-sizing: border-box;
  border: 1px solid #FFE0B2; /* Light orange border (100) */
  border-radius: 2px;
}

/* Styling for chat list */
#chat-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: .5rem 0;

  .chat-list-item {
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    background: #efefef;
    padding: 0.75rem;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;

    .button {
      padding: 0rem 0.75rem;
    }

    a {
      margin-left: 10px;
    }

    a:visited {
      color: #222;
    }
  }

  .hover {
    .hidden {
      display: inline-block;
    }
  }

  .selected {
    background: #fefefe;
  }

  .chat-list-item:hover {
    background: #fefefe;
  }
}
