@use 'sass:color';

// Light theme as default
:root {
  --primary-color: #393e46;
  --secondary-color: #222831;
  --secondary-color-lighten-20: #{color.adjust(#222831, $lightness:20%)};
  --secondary-color-lighten-40: #{color.adjust(#222831, $lightness:40%)};
  --tertiary-color: #eee;
  --error-color: #ef4040;
  --bg-color: #fafafa;
  --text-color: #333;
  --text-color-lighten-20: #{color.adjust(#eee, $lightness:20%)};
  --icon-color: var(--primary-color);
  --light-text-color: #fff;
  --button-primary-color: var(--primary-color);
  --button-primary-bgcolor: #fff;
  --button-secondary-color: var(--text-color);
  --button-secondary-bgcolor: $bg-color;
  --border-color: #{color.adjust(#393e46, $lightness:60%)};
  --border-hover-color: #{color.adjust(#393e46, $lightness:40%)};
  --border-focus-color: #{color.adjust(#393e46, $lightness:30%)};
  --box-shadow-color: rgb(196 204 213 / 74.9%);
  --box-shadow-modal-color: #444;
  --modal-header-bg-color: var(--primary-color);
}

// Dark theme for users who prefer dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #4f5b66;
    --secondary-color: #1c2025;
    --secondary-color-lighten-20: #{color.adjust(#1c2025, $lightness:20%)};
    --secondary-color-lighten-40: #{color.adjust(#1c2025, $lightness:40%)};
    --tertiary-color: #d1d1d1;
    --error-color: #ff6b6b;
    --bg-color: #121212;
    --text-color: #fafafa;
    --text-color-lighten-20: #{color.adjust(#fafafa, $lightness:20%)};
    --icon-color: var(--text-color);
    --light-text-color: #fff;
    --button-primary-color: #fff;
    --button-primary-bgcolor: var(--primary-color);
    --button-secondary-color: var(--text-color);
    --button-secondary-bgcolor: var(--bg-color);
    --border-color: #{color.adjust(#4f5b66, $lightness:30%)};
    --border-hover-color: #{color.adjust(#4f5b66, $lightness:50%)};
    --border-focus-color: #{color.adjust(#4f5b66, $lightness:60%)};
    --box-shadow-color: rgb(40 48 57 / 74.9%);
    --box-shadow-modal-color: #444;
    --modal-header-bg-color: var(--bg-color);
  }
}
