.drop-down-menu {
    position: relative;
}

.drop-down-menu-items {
    background: $bg-color;
    position: absolute;
    top: 100%; /* Position below the button */
    display: none; /* Hide initially */
    @extend .box-shadow;
    left: 0;

    .text {
        padding: 0.5rem;
    }
}

.drop-down-menu-items.visible {
    z-index: 10000;
    display: inline-block;
}

.drop-down-menu-right {
    .drop-down-menu-items {
        right: 0 !important;
        left: auto;
    }
}
