label {
  @extend %font-weight-boldest;

  padding-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  border: 1px solid var(--border-color);
}

input.error,
textarea.error {
  border: 1px solid var(--error-color) !important;
}

input:focus,
textarea:focus,
[contenteditable]:focus {
  border: 1px solid var(--border-color);
  border-color: var(--secondary-color-lighten-40);
  outline: none !important;

  @extend %box-shadow-hover;
}

input:hover,
textarea:hover {
  border: 1px solid var(--secondary-color-lighten-40);
}

.input {
  margin-bottom: 0.5rem;
}

textarea {
  padding: 0.5rem;
  resize: none;
}
