label {
    @extend .font-weight-boldest;
    margin-bottom: .5rem;
}

input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    display: inline-block;
    border: 1px solid $border-color;
}

input:focus,
[contenteditable]:focus {
    border: 1px solid $border-color;
    border-color: lighten($secondary-color, 40%);
    outline: none;
    @extend .box-shadow;
}

input:hover {
    border: 1px solid lighten($secondary-color, 20%);
}

.input {
    margin-bottom: 0.5rem;
}
