label {
  @extend .font-weight-boldest;

  padding-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  border: 1px solid $border-color;
}

input.error,
textarea.error {
  border: 1px solid $error-color !important;
}

input:focus,
textarea:focus,
[contenteditable]:focus {
  border: 1px solid $border-color;
  border-color: lighten($secondary-color, 40%);
  outline: none !important;

  @extend .box-shadow;
}

input:hover,
textarea:hover {
  border: 1px solid lighten($secondary-color, 20%);
}

.input {
  margin-bottom: 0.5rem;
}

textarea {
  padding: 0.5rem;
  resize: none;
}
