.row {
  display: flex; /* Use flexbox layout */
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between; /* Distribute space evenly between the buttons */
  align-items: center; /* Align items vertically */
  width: 100%; /* Container takes full width */
}

.col {
}

.grw {
  flex-grow: 1;
}

.grw-6 {
  flex-grow: 6;
}

.flex-align-end {
  align-self: flex-end;
}

/* Optional: Style for the primary button */
.button-primary {
  /* Add specific styles for primary button if needed */
}


/* Chat app container */
#chat-app {
  display: flex;
  height: 100vh;
}

/* Sidebar styling */
#sidebar {
  flex: 0 0 250px; /* fixed width */
}

/* Chat area styling */
#chat-area {
  gap: 0.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Chat history */
#chat-history {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/* Message input area */
#chat-input {
  flex: 0 0 60px; /* fixed height */
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

/* Message input area */
#chat-input {
  flex: 0 0 60px; /* fixed height */
  gap: 0.5rem;
  display: flex;
}

#chat-input .textarea {
  display: flex;
  flex-grow: 1;
}

.buttons {
  display: flex;
  flex: 0 0 60px; /* fixed width */

  .button {
    border-radius: 0;
  }
}

#chat-input .buttons {
  height: 100%;
}
