.row {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Distribute space evenly between the buttons */
  align-items: center; /* Align items vertically */
  width: 100%; /* Container takes full width */
}

.grw {
  flex-grow: 1;
}

.grw-6 {
  flex-grow: 6;
}

.flex-align-end {
  align-self: flex-end;
}

.justify-left {
  justify-content: left;
}

.height-100 {
  height: 100%;
}
