.icon {
  margin-right: 0.25rem;
}

i[class^="icon-"] {
  color: $icon-color;
  font-size: 12px;
  vertical-align: middle;
}

.icon-download:before {
  content: '\1F4BE';
}

.icon-copy:before {
  content: '\1F4CB';
}

.icon-selected:before {
  content: "\203A";
}

.icon-edit:before {
  content: "\1F58B";
}

.icon-new:before {
  content: "\002B";
  font-size: 14px;
}

.icon-search:before {
  content: "\1F50D"; /* Unicode character for 🔍 */
}

.icon-clear:before {
  content: "\1F5D1"; /* Unicode for wastebasket */
}

.icon-settings:before {
  content: "\1F6E0"; /* Unicode for wrench */
  //content: "\2699"; // Gear
}

.icon-refresh:before {
  content: "\21BB";
}

.icon-send:before {
  content: "\1F4E9";
}

.icon-delete:before {
  content: "\1F5D1";
}

.icon-abort:before {
  //content: "\00D7"; /* Unicode for ✖ */
  content: "\274C"; // ❌
}

.icon-save::before {
  content: "\1F4BE"; /* Unicode for floppy */
}

.icon-menu:before {
  content: '\22EF'; /* Unicode character for the chevron down icon followed by a non-breaking space */
  font-size: 14px; /* Adjust the size of the icon */
  font-weight: 900;
}

.icon-user:before {
  content: "\1F464"; /* Unicode for 👤 */
}

.icon-robot:before {
  content: "\1F916"; /* Unicode for 🤖 */
}

.icon-speech:before {
  content: "\1F4AC";
}

.icon-speech2:before {
  content: "\1F5E8"; /* Unicode for 🗨️ */
}
