.icon {
  margin-right: 0.25rem;
}

i[class^="icon-"] {
  color: #222;
  font-size: 12px;
}

.icon-download:before {
  content: '\21E9\00a0'; /* Unicode character for the download icon followed by a non-breaking space */
}

.icon-copy:before {
  content: '\2398\00a0'; /* Unicode character for the copy icon followed by a non-breaking space */
  font-size: 20px; /* Adjust the size of the icon */
  vertical-align: middle;
}

.icon-selected:before {
  content: "\203A";
}

.icon-edit:before {
  content: "\270E"; // Unicode character for ✎
  font-size: 16px;
}

.icon-new:before {
  content: "\002B";
  //font-weight: 900;
  font-size: 14px;
}

.icon-search:before {
  content: "\1F50D"; /* Unicode character for 🔍 */
}

.icon-clear:before {
  content: "\1F5D1"; /* Unicode for wastebasket */
}

.icon-settings:before {
  content: "\1F6E0"; /* Unicode for wrench */
}

.icon-send:before {
  content: "\2192"; /* Unicode for → */
  //content: '\2B06';
}

.icon-delete:before {
  content: "\00D7"; /* Unicode for ✖ */
  font-size: 16px;
}

.icon-abort:before {
  content: "\00D7"; /* Unicode for ✖ */
}

.icon-save::before {
  content: "\1F4BE"; /* Unicode for floppy */
}
