/* Styling for lists */
ul {
  user-select: none;
  display: flex;
  flex-direction: column;
  width: 100%;

  li {
    border: 1px solid transparent; /* Invisible border by default */
    position: relative;
    display: flex; /* Use flexbox layout */
    justify-content: left;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    width: 100%;
    white-space: nowrap; /* Prevent text from wrapping */

    .col {
      overflow: hidden; /* Hide overflowing text */
      text-overflow: ''; /* Display ellipsis (...) for overflowing text */
    }

    button {
      padding: 0 0.5rem;
      visibility: hidden;
    }
  }

  li.selected {
    @extend %font-weight-bolder;

    // NOTE: Should match #chat-header border-bottom
    border-top-color: #cccccc5e;
  }

  li.hover {
    border-top-color: #cccccc5e;

    button {
      visibility: visible;
    }
  }

  li.hover::after {
    display: none;
  }
}
