/* Styling for lists */
ul {
  //background: white;
  display: flex;
  flex-direction: column;
  width: 100%;

  li {
    @extend .button;
    @extend .row;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    border-bottom: 1px solid #ececec;
  }

  li.selected {
    @extend .button, .selected;
    @extend .font-weight-boldest;
  }
}
