/* Styling for lists */
ul {
  //background: white;
  display: flex;
  flex-direction: column;
  width: 100%;

  li {
    position: relative;
    display: flex; /* Use flexbox layout */
    justify-content: left;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    width: 100%;
    // font-weight: 500;
    //border-bottom: 1px solid #ececec;
    white-space: nowrap; /* Prevent text from wrapping */

    .col {
      overflow: hidden; /* Hide overflowing text */
      text-overflow: ''; /* Display ellipsis (...) for overflowing text */
    }

    button {
      padding: 0 0.5rem;
      visibility: hidden;
    }

    /*
    .list-item-edit:after {
      content: "..."; // \00a0 is a non-breaking space
    }
    */
  }

  li.selected {
    @extend %font-weight-boldest;
    // NOTE: Should match #chat-header border-bottom
    border-top: 1px solid #cccccc5e;

    //color: $button-primary-color;
    //background-color: $light-color;
    //@extend %box-shadow;
  }

  li.selected::after {
    position: absolute;
    right: 1rem;
    padding-left: 0.5rem;
    content: '\203A\00a0'; // \00a0 is a non-breaking space
  }

  li.hover {
    button {
      visibility: visible;
    }
  }

  li.hover::after {
    display: none;
  }
}
