.hamburger-menu {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

.hamburger-menu .bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
