.modal {
    display: none;
    //align-items: center;
    //justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    z-index: 1000; /* ensures modal is on top */
}

.modal-content {
    background: white;
    min-width: 640px;
    margin: auto; /* Center the modal */
    border-radius: 2px;
    overflow: hidden; /* Ensures the border-radius applies to children */
    box-shadow: 0 0 15px #444;
}

.modal-header {
    font-weight: 700;
    //color: white;
    //background-color: #0052cc;
    padding: 0rem 1rem;
    //text-align: center;
    border-bottom: 1px solid #ddd;
}

.modal-body {
    padding: 20px;
}

.modal.show {
    z-index: 1000;
    display: flex;
}
