.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%); /* semi-transparent background */
  z-index: 1000; /* ensures modal is on top */
  overflow: scroll;
}

.modal-header {
  font-weight: 700;
  background-color: $primary-color;
  padding: 0 1rem;
  border-bottom: 1px solid $border-color;

  .button {
    border-radius: $border-radius;
    padding: 0.5rem;
    line-height: 0.5rem;
  }

  h2 {
    color: $light-text-color;

    @extend %font-weight-boldest;
  }
}

.modal-content {
  background: $bg-color;
  width: 640px;
  min-width: 320px;
  max-width: 50vw;
  margin: auto; /* Center the modal */
  // border-radius: 2px;
  // overflow: hidden; /* Ensures the border-radius applies to children */
  @extend %box-shadow-modal;
}

.modal-body {
  padding: 1rem;
}

.modal.show {
  z-index: 20000;
  display: flex;
}
