%font-weight-light {
  font-variation-settings: 'wght' 300;
}

%font-weight-bold {
  font-variation-settings: 'wght' 400;
}

%font-weight-bolder {
  font-variation-settings: 'wght' 600;
}

%font-weight-boldest {
  font-variation-settings: 'wght' 900;
}

%box-shadow {
  box-shadow: 0 2px 5px rgba(196, 204, 213, 0.7490196078);
}

%box-shadow-hover {
  box-shadow: 2px 0px 6px #c4ccd55e inset;
}

%box-shadow-small {
  box-shadow: 0 5px 10px #c4ccd563;
}

%box-shadow-modal {
  box-shadow: 0 0 15px #444;
}

%text-title {
  @extend %font-weight-boldest;

  font-size: 2rem;

  //margin-top: 0.5em;
  //margin-bottom: 0.5em;
}
