%font-weight-light {
  font-variation-settings: 'wght' 300;
}

%font-weight-bold {
  font-variation-settings: 'wght' 400;
}

%font-weight-bolder {
  font-variation-settings: 'wght' 600;
}

%font-weight-boldest {
  font-variation-settings: 'wght' 900;
}

%box-shadow {
  box-shadow: 0 2px 5px var(--box-shadow-color);
}

%box-shadow-hover {
  box-shadow: 2px 0 6px var(--box-shadow-color) inset;
}

%box-shadow-small {
  box-shadow: 0 5px 10px var(--box-shadow-color);
}

%box-shadow-modal {
  box-shadow: 0 0 15px var(--box-shadow-modal-color);
}

%text-title {
  @extend %font-weight-boldest;

  font-size: 2rem;

  //margin-top: 0.5em;
  //margin-bottom: 0.5em;
}
