aside {
  padding: 1rem;
}

/* Sidebar styling */
#sidebar {
  @extend %box-shadow;

  // NOTE: This should be the same as chat-header border-bottom
  border-right: 1px solid #cccccc5e;
  min-width: 200px;
  max-width: 480px;
  overflow-y: auto;

  .buttons {
    width: 100%;
    display: flex;
    flex-grow: 1;
  }
}

#search-input {
  padding-left: 0.75rem;
}

#sidebar.collapsed {
  max-width: 0;
  display: none;
  padding: 0;
}
