/* Sidebar styling */
#sidebar {
  @extend %box-shadow;

  min-width: 200px;
  max-width: 480px;

  //flex: 0 0 250px; /* fixed width */
  padding: 0;

  //background-color: #E3F2FD;
  //border-right: 1px solid #cfcfcf;
  overflow-y: auto;

  .buttons {
    width: 100%;
    display: flex;
    flex-grow: 1;
  }

  // TODO: Animations
  // transition: display 0.4s;
}

#search-input {
  padding-left: 0.75rem;
}

#sidebar.collapsed {
  max-width: 0;
  display: none;

  //flex: 0 0 0px; /* Collapsed state with zero width */
  padding: 0;
}
