/* General styling */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: $text-color;
  background-color: $bg-color;
}

textarea {
}

.chat-link {
  display: inline-block;
}

a {
  text-decoration: none;
}

.max-width-80 {
  max-width: 80%;
}

.text-right {
  text-align: right;
}
