/* General styling */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: $text-color;
  background-color: $bg-color;
}

textarea {
}

.chat-link {
  display: inline-block;
}

a {
  text-decoration: none;
}

.max-width-80 {
  max-width: 80%;
}

.text-right {
  text-align: right;
}

/* Spinner */
.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid $primary-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
