/* General styling */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;

  /* For Mozilla Firefox */
  -moz-osx-font-smoothing: grayscale;
  /* Modern browsers (WebKit-based) */
  -webkit-font-smoothing: antialiased;
  /* Fallback for other browsers */
  /* stylelint-disable-next-line property-no-unknown */
  font-smoothing: antialiased;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.chat-link {
  display: inline-block;
}

a {
  text-decoration: none;
}

.max-width-80 {
  max-width: 80%;
}

.text-right {
  text-align: right;
}
