.tab-container {
  display: flex;
  border: 1px solid #ccc;
}

.tab-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: none;
  outline: none;
}

.active-tab-button {
  @extend %box-shadow;
}

.tab-content {
  display: none;
}
