.notification {
  position: fixed;
  top: 0;
  left: 0;
  color: $bg-color;
  background-color: $text-color;
  width: calc(100vw - 2rem);
  z-index: 30000;
  background-color: $bg-color;
  padding: 1rem;
  margin: 1rem;
  @extend %box-shadow-modal;
  border-radius: $border-radius;

  .button {
    border-radius: 2px;
    padding: 0.5rem;
    line-height: 0.5rem;
  }
}

.notification-message {
}

.notification-error {
  background: $error-color;
}
