/* Utilities */
.hidden {
  display: none;
}

.visible {
  animation: fadeIn 0.5s ease;
}

.float-right {
  float: right;
}

.mt-1 {
  margin-top: 0.5rem;
}

.d-inline {
  display: inline-block;
}

.d-block {
  display: block;
}
