/* Utilities */
.hidden {
  display: none;
}

.float-right {
  float: right;
}

.text-small {
  font-size: 0.85rem;
}

.text-light {
  color: var(--gray);
}

// Generate sizes, e.g., --size-1: 0.25rem
:root {
  @for $i from 1 through 5 {
    --size-#{$i}: #{$i * 0.25}rem;
  }
}

// Generate margin and padding utilities
@for $i from 1 through 5 {
  .m-#{$i} {
    margin: var(--size-#{$i});
  }

  .p-#{$i} {
    padding: var(--size-#{$i});
  }

  .pl-#{$i} {
    padding-left: var(--size-#{$i});
  }

  .pr-#{$i} {
    padding-right: var(--size-#{$i});
  }
}

.d-inline {
  display: inline-block;
}

.d-block {
  display: block;
}
