/* Utilities */
.hidden {
  display: none;
}

.float-right {
  float: right;
}

.text-small {
  font-size: 0.85rem;
}

.text-light {
  color: var(--gray);
}

@for $i from 1 through 10 {
  .m-#{$i} {
    margin: 0em * $i*0.25;
  }

  .p-#{$i} {
    padding: $i*0.25rem;
  }
}

.d-inline {
  display: inline-block;
}

.d-block {
  display: block;
}
