$primary-color: #393e46;
$secondary-color: #222831;
$tertiary-color: #eee;
$white: #fff;
$red: #ef4040;
$error-color: $red;
$text-color: $tertiary-color;
$bg-color: $tertiary-color;
$icon-color: $primary-color;
$button-primary-color: $primary-color;
$button-primary-bgcolor: #eee;
$button-secondary-color: lighten($primary-color, 2);
$button-secondary-bgcolor: #eee;
$border-radius: 2px;
$border-color: lighten($primary-color, 60%);
$border-hover-color: lighten($primary-color, 40%);
$border-focus-color: lighten($primary-color, 30%);
$border: $border-radius $border-color;
$light-color: lighten($button-primary-bgcolor, 10);
