/* General styling */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #222;
  background-color: #f5f5f5; /* Light grey background */
  font-family: Arial, sans-serif;
}

textarea {
  font-family: Arial, sans-serif;
}

/* Sidebar styling */
#sidebar {
  padding: 1rem;
  background-color: #f4f5f7;
  overflow-y: auto;
}

/* Styling for chat list */
#chat-list {
  padding: 0.5rem;
}

/* Chat header */
#chat-header {
  background-color: #0052cc;
  color: white;
  padding: 1rem;
}

/* Styling for chat history container */
#chat-history {
  max-width: 1024px;
  width: 100%; /* Full width of its parent */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Message input area */
#chat-input {
  align-items: center;
  padding: 0.5rem;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

/* Input field */
#chat-input textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px; /* Desired padding */
  box-sizing: border-box; /* Include padding and border in the element's size */
}

.chat-link {
  display: inline-block;
}

.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Primary button */
.button-primary {
  background-color: #0052cc;
  color: white;
}

.button-primary:hover {
  background-color: #0041c4;
}

/* Base styling for all messages */
.message {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 2px;
}

/* Styling for user messages */
.user-message {
  background-color: #E3F2FD; /* Light blue background (50) */
  color: #0D47A1; /* Dark blue text (900) */
  align-self: flex-start; /* Align to the right */
  border: 1px solid #BBDEFB; /* Light blue border (100) */
  border-radius: 2px;
}

/* Styling for system messages */
.system-message {
  background-color: #FFF3E0; /* Light orange background (50) */
  color: #BF360C; /* Dark orange text (900) */
  /*margin-left: 10px;*/
  border: 1px solid #FFE0B2; /* Light orange border (100) */
  border-radius: 2px;
}

/* Spinner */
.spinner {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue color */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Styling for inline editing of title */
#chat-title:focus {
  color: #222;
  border: 1px solid #aaa;
  background: #eef;
  padding: 2px;
}

/* Utilities */
.hidden {
  display: none;
}
